# Intellij
.idea
*.iml

../dump/k8s/secrets

../dump/docker/env

/db
dump
/dump/helm/keycloak/values-secrets.yaml
/db/transactions-app/
/dump/kibana/export.ndjson
/dump/kibana/export (1).ndjson
/dump/keycloak/realm-export (4).json
/dump/keycloak/transactions-api.json
/dump/keycloak/transactions-client.json
/dump/keycloak/transactions-client (2).json
